<div *ngIf="message">{{message}}</div>

<fieldset [disabled]="!enabled">
  <table>
    <!-- Input fields -->
    <tr><td>Username</td><td><input [(ngModel)]="inputName" /></td></tr>
    <tr><td>Password</td><td><input type="password" [(ngModel)]="inputPassword" /></td></tr>
    <tr><td>Email</td><td><input [(ngModel)]="inputEmail" placeholder="Only for registration" /></td></tr>
    
    <!-- Action buttons -->
    <tr><td></td><td>
      <button
        #btnLogin
        [disabled]="!(inputName && inputPassword)"
        (click)="login()">Login</button>
      <button
        #btnRegister
        [disabled]="!(inputName && inputPassword && inputEmail)"
        (click)="register()">Register</button>
    </td></tr>
  </table>
  
</fieldset>